fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
pydantic
email-validator
openai
reportlab==4.0.8
python-jose[cryptography]
passlib[bcrypt]
python-multipart
email-validator
bcrypt==4.0.1
reportlab
cloudinary
cryptography
lxml
httpx
resend